<header>
  <div id="header">
    <div id="to-home">
      <a href="main/home.ejs">Home page</a>
    </div>
    <div id="nav-items">
      <div id="nav-chart">
        <a href="#">Chart</a>
      </div>
    </div>
  </div>
</header>
